body {
    background-image: url("629_14.jpg");
}

h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(191, 195, 198);
}

label {
    color: rgb(130, 123, 124);
}

label.address {
    font-style: oblique;
    font-size: 2em;
}

label.email {
    font-style: italic;
}

a {
    color: rgb(103, 101, 98);
}

a:hover {
    color: rgb(235, 25, 170);
}

p.lin {
    padding-top: 5em;
    padding-left: 80%;
}

h3 {
    font-size: 1em;
    color: rgb(188, 199, 186);
    margin-top: 3em;
    margin-left: 9em;
}

ul {
    padding-left: 10em;
}

li {
    color: rgb(219, 221, 231);
}

img.imglogo {
    width: 3em;
    height: 3em;
}

.mende {
    text-align: justify;
    color: rgb(33, 237, 145);
    padding-left: 3em;
    padding-right: 5em;
}
img.imagtab {
    width: 10em;
    height: 7em;
    float: right;
    padding-right: 2em;
}
