body {
    background-color: rgb(6, 6, 6);
    color: rgb(246, 193, 200)
}

header {
    padding: 2em;
    margin: 2em;
}

img {
    width: 200px;
    height: 200px;
    transition: all 2s ease-in-out;
}

img:hover {
    width: 300px;
    height: 300px;
    transition-property: width height;
    transition-duration: 0.5s 0.5s;
    transition-timing-function: linear, linear;
    transition-delay: 0s 0.5s;
}

nav {
    float: right;
    width: 80%;
    height: 4em;
    margin-top: 2em;

}

.linav {
    display: inline;
    padding-left: 1em;
}

aside {
    float: left;
    width: 15%;
    margin: 1em;
    padding: 1em;

}

main {
    float: left;
    width: 70%;
    margin: 1em;
    padding: 1em;
}

.liasid {
    padding-top: 4em;
    list-style-type: none;

}

a {
    color: rgb(31, 218, 173);
}
a:hover {
    color: rgb(96, 102, 242);
    font-size: 1.5em;
    font-family: cursive;
    transition-property: font-size font-family;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: linear linear;
    transition-delay: 0s, 0.5s;
}
/*a:visited {
    color: rgb(230, 10, 43);
}*/
h3 {
    font-size: 1em;
    color: rgb(188, 199, 186);
}
.imglogo {
    width: 100px;
    height: 100px;
}
footer {
    float: left;
    width: 90%;
}
