body {
    background-color: rgb(113, 238, 205);
}

label {
    display: block;
    width: 15em;
}

input {
    margin-bottom: 1em;
    margin-top: 0.5em;
}
fieldset {
    width: 35em;
}
textarea {
    width: 535px;
    height: 148px;
}
